<html>
<style type="text/css"> em {color: blue}; </style>
<h2>Quote#random <-- is the Controler#Action</h2>
<header>
  <p>This controlder#action is found in the app/views/quote/random.html.erb</p>
</header>
<body>
  <h3>My randomish quote</h3>
  <em><%= @random %></em>
<footer>
<p>Strictly kept this in for learning purposes - show what the params are with debug line</p>
  <%= debug params %>
</body>
